body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  height: 35px;
  background-color: grey;
  width: 100%; /* Stretches across the full width of the screen */
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: fixed; /* Keeps the top bar at the top */
  top: 0;
  z-index: 3; /* Ensures the top bar is above all other content */
  
}

.top-bar .info {
  display: flex;
  align-items: center;
  padding-left: 80px; /* Distance from left edge to clock icon */
}

.top-bar .info span,
.top-bar .info a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  margin-right: 16px; /* Distance between elements */
}

.top-bar .info .phone-link {
  text-decoration: none;
  color: white;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 16px; /* Distance between icon and text */
}

.header {
  position: relative;
  width: 100%;
  padding-top: 0;
}


.search-form {
     display: flex;
     align-items: center;
     padding-right: 80px;
}

.search-input-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.search-input-wrapper input[type="text"] {
    padding-left: 30px; /* Adds space for the icon */
    font-size: 14px;
    height: 18px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

.search-icon {
    position: absolute;
    left: 10px; /* Adjusts position of the icon */
    color: #aaa; /* Color of the icon */
    pointer-events: none; /* Prevents interaction with the icon */
}


.nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 60px; /* Margin from the top bar */
  z-index: 2; /* Ensure nav is above the video */
}

ul {
  list-style-type: none;
}
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list .pedido-online {
  margin-right: 300px;
}

.nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  margin-right: 40px;
}

.nav a:hover {
  text-decoration: underline;
}

.nav-list li:last-of-type a {
  display: flex;
  margin-left: 40px;
  margin-right: 80px;
  align-items: center;
  background-color: #f56607;
  border: 2px solid transparent;
  height: 30px;
  padding: 0 32px;
  border-radius: 16px;
  transition: all 0.25s ease;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Плавний перехід */
}

.nav-list li:last-of-type a:hover {
  background-color: transparent; /* Прозорий фон при наведенні */
  border-color: #f56607; /* Оранжевий колір тексту при наведенні */
  color: #f56607;
}

.header-content {
  text-align: center;
  padding-top: 240px;
}

.logo {
  max-width: 100%; /* Адаптує розмір логотипу для різних розмірів екрану */
  height: auto;
}

.video-container {
  position: relative;
  top: 35px; /* відступ зверху */
  height: calc(100vh - 35px); /* висота займає решту екрану */
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 900px;
  object-fit: cover; /* Відео покриває весь контейнер */
  position: absolute;
  top: 0;
  left: 0;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  background: rgba(0, 0, 0, 0.6); /* затемнення на 60% */
}

.logo-content {
  text-align: center;
}

.logo-header {
  width: 260px;
  height: 88px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px; /* Відстань між кнопками */
  margin-top: 150px;

  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Плавний перехід */
}

.button-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 64px;
  margin: 0 40px; /* Для відстані 80px між кнопками */
  border-radius: 16px;
  border: 2px solid var(--Main, #f56607);
  text-decoration: none;

  color: var(--3rd-color, #fff8ee); /* Колір тексту */
  font-family: "Montserrat", sans-serif; /* Шрифт */
  font-size: 16px; /* Розмір шрифту */
  font-style: normal;
  font-weight: 700; /* Жирність шрифту */
  line-height: normal; /* Висота лінії */
}

.button-header:hover {
  background-color: transparent; /* Прозорий фон */
  color: #f56607; /* Оранжевий колір тексту */
  border-color: #f56607; /* Оранжевий колір рамки */
}

/* Для адаптивності, ви можете додати медіа-запити */
@media (max-width: 768px) {
  .buttons {
    flex-direction: column; /* Для мобільних пристроїв розмістіть кнопки вертикально */
    gap: 20px; /* Менша відстань між кнопками на мобільних пристроях */
  }
}

.about-us {
  padding-left: 0;
  margin-top: 400px; /* Відступ від верху, щоб не прилипати до відео */
  margin-right: 80px;
  background-color: #fff; /* Приклад фону, можна змінити */
  text-align: center;
}

.about-us h1 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  margin-bottom: 16px;
}

.about-us h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.about-us-block {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 60px; /* Відступ від верхнього блоку */
}

.image-block {
  width: 708px;
  height: 585px;
  margin-left: 0;

  border-radius: 0px 300px 0px 0px;
  background: url(path_to_your_image.jpg) lightgray 50% / cover no-repeat;
  box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

.text-block {
  width: 440 px; /* Фіксована ширина блоку */
  margin-left: 140px; /* Відступ від блоку з картинкою */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  /* Додаткові стилі за потреби */
}

.text-block h3 {
  color: #0d0d0d;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
}

.text-block p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}

.button-mais {
  margin-top: 40px;
  display: inline-flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--Main, #f56607);
  border: 2px solid var(--Main, #f56607);
  color: var(--3rd-color, #fff8ee);
  text-decoration: none;
}

.button-mais:hover {
  background-color: transparent; /* Прозорий фон */
  color: #f56607; /* Оранжевий колір тексту */
  border-color: #f56607; /* Оранжевий колір рамки */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Вирівнювання кнопки по правому краю */
}

.menu-section {
  text-align: center;
  margin-top: 120px; /* Відступ зверху */
}

.menu-section h1 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  margin-bottom: 16px;
}

.menu-section h2 {
  margin-top: 16px; /* Відступ від H1 */
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 32px;
}

/* Стилі для секції menu-section та заголовків */

.swiper-container {
  margin-left: 150px;
  margin-right: 150px;
  overflow: hidden; /* Сховати елементи, які виходять за межі контейнера */
  padding-left: 150px;
  padding-right: 150px;
  box-sizing: border-box; /* Щоб відступи не змінювали розмір контейнера */
  margin-bottom: 40px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 302px;
  margin: 20px;
}

.swiper-slide .card-image {
  width: 302px; /* Ширина картинки на ширину swiper-slide */
  height: 233px; /* Висота картинки */
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 40px; /* Відступ між картинкою та h3 */
}

.swiper-slide h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  text-transform: uppercase;
  margin-top: 40px; /* Відступ від картинки */
  margin-bottom: 16px; /* Відступ до наступного елементу */
  /* Додаткові стилі для заголовку */
}

.swiper-slide p {
  color: #0a0a0a;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px; /* Відступ від заголовку h3 */
  /* Додаткові стилі для абзацу */
}

.swiper-slide .rating {
  margin-top: 16px; /* Відступ від абзацу p */
  /* Додаткові стилі для блоку рейтингу */
}

.swiper-slide button {
  margin-top: 16px; /* Відступ від блоку рейтингу */
  display: inline-flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 16px;
  font-size: 16px;
  background: var(--Main, #f56607);
  border: 2px solid var(--Main, #f56607);
  color: var(--3rd-color, #fff8ee);
  text-decoration: none;
}

.swiper-slide button:hover {
  background-color: transparent; /* Прозорий фон */
  color: #f56607; /* Оранжевий колір тексту */
  border-color: #f56607; /* Оранжевий колір рамки */
}

/* Стилі для картинок, назв страв, описів, рейтингу та кнопок */

.slider-button {
  display: block; /* Блоковий елемент для можливості вирівнювання */
  margin-left: auto; /* Вирівнювання по правому боці */
  margin-right: 150px; /* Відступ справа відповідає відступу контейнера */
  margin-bottom: 100px;

  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: 16px;
  border-radius: 16px;
  background: var(--Main, #f56607);
  border: 2px solid var(--Main, #f56607);
  color: var(--3rd-color, #fff8ee);
  text-decoration: none;
}

.slider-button:hover {
  background-color: transparent; /* Прозорий фон */
  color: #f56607; /* Оранжевий колір тексту */
  border-color: #f56607; /* Оранжевий колір рамки */
}

.slider-button-container {
  display: flex;
  justify-content: flex-end;
}

.video-section {
  width: 100%; /* Ширина на весь екран */
  height: 360px; /* Фіксована висота секції */
  overflow: hidden; /* Приховати частини відео, які виходять за межі */
}

.fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заповнити доступний простір, зберігаючи пропорції */
}

.delivery-section {
  padding-top: 100px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

.delivery-container {
  display: flex;
  justify-content: space-between;
}

.delivery-column {
  flex-basis: 50%;
  text-align: left;

  /* Додайте стилі за потреби */
}

.delivery-column h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 8px;
  width: 600px;
}

.delivery-column h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  margin-bottom: 24px;
  line-height: 150%;
  text-transform: uppercase;
  width: 600px;
  margin-top: 0;
}

.delivery-column p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  width: 600px;
  margin-bottom: 40px;
  margin-top: 0;
}

.delivery-column img {
  max-width: 100%; /* Щоб зображення було адаптивним */
  height: 440px;
}

.delivery-button {
  display: inline-flex; /* Блоковий елемент для можливості вирівнювання */
  margin-left: auto; /* Вирівнювання по правому боці */

  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: 16px;
  border-radius: 16px;
  background: var(--Main, #f56607);
  border: 2px solid var(--Main, #f56607);
  color: var(--3rd-color, #fff8ee);
  text-decoration: none;
}

.delivery-button:hover {
  background-color: transparent; /* Прозорий фон */
  color: #f56607; /* Оранжевий колір тексту */
  border-color: #f56607; /* Оранжевий колір рамки */
}

.reservation-section {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
  background-color: var(--EBF0E4, #ebf0e4);
}

.reservation-section h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  margin-bottom: 24px;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

.reservation-section h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 8px;
  text-align: center;
}

.reservation-form {
  display: flex;
  justify-content: center;
  gap: 50px; /* Відстань між інпутами */
  margin-top: 110px; /* Відступ від попередніх елементів */
}

.reservation-form input {
  width: 350px; /* Довжина інпутів */
  height: 40px;
  border-radius: 20px;
  border: 2px solid var(--000000, #000);
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0 20px;

  /* Можете додати додаткові стилі, наприклад, для бордюру, фону тощо */
}

#reserveButton {
  margin-top: 100px;
  display: inline-flex; /* Блоковий елемент для можливості вирівнювання */
  margin-left: auto; /* Вирівнювання по правому боці */
  font-family: Montserrat;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: 16px;
  border-radius: 16px;
  background: var(--Main, #f56607);
  border: 2px solid var(--Main, #f56607);
  color: var(--3rd-color, #fff8ee);
  text-decoration: none;
  margin-bottom: 80px;
}

#reserveButton:hover {
  background-color: transparent; /* Прозорий фон */
  color: #f56607; /* Оранжевий колір тексту */
  border-color: #f56607; /* Оранжевий колір рамки */
}

/* Стилі для модального вікна */
.modal {
  display: none; /* Спочатку вікно приховане */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Чорний фон з прозорістю */
  background-color: rgba(0, 0, 0, 0.4); /* Чорний фон з прозорістю */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% від верху і по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ширина вмісту */
}

.modal-content p {
  font-size: 16px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-section {
  position: relative; /* Встановлюємо позиціонування для накладання оверлею */

  background-size: cover; /* Зображення покриває весь контейнер */
  background-position: center; /* Центрування зображення */
  height: 300px; /* Висота секції */
}

.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Затемнення фону */
  backdrop-filter: blur(4px); /* Розмитість фону */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 150px; /* Відступи */
}

.custom-section h1 {
  color: white;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  margin-bottom: 24px;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

.custom-section h1 .text-color-one {
  color: #f56607;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  margin-bottom: 24px;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

.custom-section h2 {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.custom-section .button {
  /* Стилі для заголовків та кнопки */
  text-align: center;
}

.custom-section .button {
  display: inline-flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: 16px;
  border-radius: 16px;
  background: var(--Main, #f56607);
  border: 2px solid var(--Main, #f56607);
  color: var(--3rd-color, #fff8ee);
  text-decoration: none;
}

.custom-section .button:hover {
  background-color: transparent; /* Прозорий фон */
  color: #f56607; /* Оранжевий колір тексту */
  border-color: #f56607; /* Оранжевий колір рамки */
}

.contact-section {
  background-color: var(--Secondary, #2b2b2b); /* Сірий фон секції */
  padding-top: 80px; /* Відступ зверху */

  /* Додаткові стилі */
}

.contact-container {
  display: flex;
  justify-content: space-between; /* Рівномірне розподілення контейнерів */
  align-items: center;
  padding: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

.contact-info p {
  text-align: left; /* Вирівнювання тексту по лівому краю */
  /* Стилі для тексту, заголовків, абзаців */
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
}

.contact-info p.pao-quente {
  font-style: bold;
  font-weight: 700;
  /* Інші стилі */
}

.contact-item {
  display: flex;
  align-items: center; /* Вирівнювання іконки та тексту по центру */
  gap: 10px; /* Відстань між іконкою та текстом */
}

.contact-item a {
  color: #fefefe;
  text-decoration: none;
}

.contact-logo {
  display: flex;
  justify-content: center; /* Центрування лого */
  align-items: center;
  flex: 0 0 auto; /* Запобігання стисканню або розширенню логотипу */
  /* Стилі для лого */
}

.cont-logo {
  width: 240px;
  height: 90px;
}

.additional-info {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 50px; /* Відступ від попереднього контейнера */
}

.social-links a {
  margin-left: 40px; /* Відстань між іконками */
}

.language-switcher {
  margin-left: 100px; /* Стилі для перемикача мов */
  margin-right: 80px;
  color: white;
}

.language-switcher a {
  text-decoration: none;
  color: white; /* Колір тексту для посилань */
  margin-left: 10px;
  /* Додайте додаткові стилі за потребою */
}

.footer {
  display: flex;
  justify-content: center; /* Центрування вмісту по горизонталі */
  align-items: center; /* Центрування вмісту по вертикалі */
  height: 24px; /* Висота футера */
  background-color: var(--Secondary, #2b2b2b);
  /* Додайте додаткові стилі за потребою */
}

.footer p {
  font-size: 12px; /* Висота шрифту тексту */
  color: white;
  margin: 0; /* Видалення стандартних відступів */
  /* Додайте додаткові стилі за потребою */
}

.testimonials-section {
  padding: 80px 150px; /* Відступи секції */
}

.testimonials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px; /* Відступ зліва */
  margin-right: 50px;
  /* Стилі контейнера, якщо потрібно */
}

.testimonials-slider {
  margin-left: 50px; /* Відступ зліва */
  margin-right: 50px; /* Відступ справа */
  max-width: 1200px;
}

.testimonials-slider .testimonial {
  display: flex;
  gap: 50px; /* Відстань між фото та текстовим блоком */
  flex-direction: row;
  align-items: flex-start;
  height: 250px;
}

.testimonial-photo img {
  margin-left: 50px;
  width: 170px;
  height: 170px;
  border-radius: 170px;
  box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05);
}

.testimonial-content {
  text-align: left;
  /* Стилі для тексту */
}

a {
  margin: 0 10px; /* Однаковий відступ з обох боків */
}

.testimonial-content p {
  color: var(--000000, #000);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-bottom: 50px;
  margin-top: 0;
  width: 900px;
}

.testimonial-content h2 {
  color: var(--000000, #000);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 240% */
  margin-bottom: 8px;
  margin-top: 0;
}

.testimonial-content h3 {
  color: var(--accent, #4d4d4d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-top: 0;
}

.custom-prev:hover,
.custom-next:hover {
  cursor: pointer; /* Змінюємо курсор при наведенні на стрілки */
}

/* Анімація зникнення сторінки */
.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

/* Анімація появи сторінки */
.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
