{% load static %}
<!DOCTYPE html>
<html lang="pt">
  {% load static %}
  <!DOCTYPE html>
  <html lang="pt">
    <head>
      <meta charset="UTF-8" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="{% static 'restaurant/css/personal_account.css' %}" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Patio Santa Luzia</title>
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    </head>
    <body class="fade-in">
      <div class="top-bar">
        <div class="info">
          <svg
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <path
              d="M10 0C4.5 0 0 4.64467 0 10.3215C0 15.9983 4.5 20.643 10 20.643C15.5 20.643 20 15.9983 20 10.3215C20 4.64467 15.5 0 10 0ZM14.2 14.6565L9 11.3536V5.16074H10.5V10.5279L15 13.3147L14.2 14.6565Z"
              fill="#FFF8EE"
            />
          </svg>
          <span>7.00 AM - 20.00 PM</span>
          <svg
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <path
              d="M4.02222 8.93382C5.62222 12.1794 8.2 14.8285 11.3444 16.4914L13.7889 13.9684C14.0889 13.6588 14.5333 13.5556 14.9222 13.6932C16.1667 14.1175 17.5111 14.3469 18.8889 14.3469C19.5 14.3469 20 14.8629 20 15.4937V19.4961C20 20.1269 19.5 20.643 18.8889 20.643C8.45556 20.643 0 11.9156 0 1.14683C0 0.516074 0.5 0 1.11111 0H5C5.61111 0 6.11111 0.516074 6.11111 1.14683C6.11111 2.58037 6.33333 3.95657 6.74444 5.24102C6.86667 5.64241 6.77778 6.08968 6.46667 6.41079L4.02222 8.93382Z"
              fill="#FFF8EE"
            />
          </svg>
          <a class="phone-link" href="tel:229480089">229 480 089</a>
        </div>
        <form method="get" action="{% url 'search' %}" class="search-form">
          <div class="search-input-wrapper">
            <input type="text" name="q" placeholder="pesquisar..." required />
            <span class="search-icon">
              <!-- This is an SVG icon for the search symbol -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85a1.007 1.007 0 0 0-.115-.098zm-5.242.656a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"
                />
              </svg>
            </span>
          </div>
        </form>
      </div>

      <header class="header">
        <img
          src="{% static 'restaurant/my_account/Rectangle 58.svg' %}"
          alt="Background Image"
          class="header-background"
        />
        <div class="logo">
          <img src="{% static 'restaurant/my_account/logo.svg' %}" alt="logo" />
        </div>
        <nav class="nav">
          <ul class="nav-list">
            <li>
              <a class="inicio" href="{% url 'index' %}">INICIO</a>
            </li>
            <li>
              <a href="{% url 'sobre-nos' %}">SOBRE NÓS</a>
            </li>
            <li>
              <a href="{% url 'menu' %}">MENU</a>
            </li>
            <li>
              <a href="{% url 'galeria' %}">GALERIA</a>
            </li>
            <li>
              <a href="{% url 'contactos' %}">CONTACTOS</a>
            </li>
            <li>
              <a href="./reserva.html">RESERVAS</a>
            </li>
            <li>
              <a class="pedido-online" href="./pedido-online.html">PEDIDO ONLINE</a>
            </li>
            <li>
              <img
                src="{% static 'restaurant/sobre-nos/Frame 1000001869.svg' %}"
                alt="Опис іконки"
              />
            </li>

            <li>
              <a class="logout-button" href="{% url 'logout' %}">LOG OUT</a>
            </li>
          </ul>
        </nav>

        <div class="hero-content">
          <h1>Minha conta</h1>
        </div>
      </header>

      <section class="input-section">
        <div class="profile-container">
          <!-- Personal Info Container -->
          <div class="personal-info">
            <h2>Personal information</h2>
            <div class="profile-photo-container">
              <div class="profile-photo">
                {% if user_profile.profile_photo %}
                <img
                  src="{{ user_profile.profile_photo.url }}"
                  alt="Profile Photo"
                  class="profile-img"
                />
                {% else %}
                <img
                  src="{% static 'path/to/default-profile.jpg' %}"
                  alt="Profile Photo"
                  class="profile-img"
                />
                {% endif %}
              </div>
              <div class="upload-container">
                <form
                  method="post"
                  enctype="multipart/form-data"
                  action="{% url 'personal_account' %}"
                >
                  {% csrf_token %}
                  <input type="file" name="profile_photo" class="upload-input" />
                  <button type="submit" name="photo_upload" class="upload-btn">Upload Photo</button>
                </form>
              </div>
            </div>

            <form method="post" action="{% url 'personal_account' %}">
              {% csrf_token %}
              <label for="full-name">Full Name</label>
              <input
                type="text"
                id="full-name"
                name="full-name"
                value="{{ user.username }}"
                readonly
              />

              <label for="email">Email Address</label>
              <input type="email" id="email" name="email" value="{{ user.email }}" readonly />

              <label for="address">Address</label>
              <input
                type="text"
                id="address"
                name="address"
                value="{{ address }}"
                placeholder="Enter address"
                readonly
              />

              <label for="telemovel">Telemovel </label>
              <input
                type="text"
                id="telemovel"
                name="telemovel"
                value="{{ telemovel }}"
                placeholder="Enter telemovel"
                readonly
              />

              <div class="comment-container">
                <label for="comment">Deixe um comentário sobre a sua experiência</label>
                <textarea id="comment" name="comment"></textarea>
              </div>

              <button type="submit" class="send-comment-btn">Send Comment</button>
            </form>
          </div>

          <!-- Orders Container -->
          <div class="orders">
            <h2>Pedidos</h2>
            <div class="order-item">
              <img src="path/to/order1.jpg" alt="Order Image" />
              <div class="order-info">
                <p>Quiche de Espinafre</p>
                <span class="order-status processing">Processing</span>
              </div>
            </div>
            <!-- Повторити блок order-item для кожного замовлення -->
          </div>
        </div>
      </section>
    </body>
  </html>
</html>
